.portfolio {
  &__container {
    @media screen and (max-width: 480px) {
      padding: 0;
    }
  }
  &__title {
    @media screen and (max-width: 480px) {
      padding: 0 16px;
    }
  }
  &__tabs {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    @media screen and (max-width: 480px) {
      padding-top: 0;
      overflow-x: auto;
      justify-content: flex-start;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
      scrollbar-width: none;
      padding: 24px 16px 0 16px;
    }
  }
  &__tab-button {
    position: relative;
    color: #a9acac;
    padding: 17px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    flex-shrink: 0;
    @media screen and (max-width: 480px) {
      padding: 15px 14px;
    }
    svg {
      fill: #a9acac;
    }
    &.btn-active {
      color: #27ec98;
      border-bottom: 2px solid #27ec98;
      svg {
        fill: #27ec98;
      }
    }
  }
  &__icon {
    margin-left: 32px;
    @media screen and (max-width: 480px) {
      margin-left: 14px;
    }
  }
  &__tab-content {
    text-align: center;
    font-size: 15px;
    color: #a9acac;
    padding-top: 32px;
    @media screen and (max-width: 480px) {
      padding-top: 17px;
    }
  }
  &__btn {
    display: flex;
    margin: 57px auto 0 auto;
    @media screen and (max-width: 480px) {
      margin: 24px auto 0 auto;
    }
  }
}

.crypto-ticker {
  overflow: hidden;
  .ticker-row {
    overflow: hidden;
    position: relative;
    mask-image: linear-gradient(
      to right,
      transparent,
      white 10%,
      white 90%,
      transparent
    );
    @media screen and (max-width: 480px) {
      mask-image: none;
      overflow-x: auto;
      max-width: 100vw;
    }
    .ticker-track {
      display: flex;
      width: 100%;
      animation: scroll-left 45s linear infinite;
      @media screen and (max-width: 480px) {
         display: flex;
  width: fit-content;
      }
    }

    &.right .ticker-track {
      animation-name: scroll-right;
    }
  }

  .ticker-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
    color: #fff;
    white-space: nowrap;
    background-color: #161818;
    min-width: 300px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    gap: 12px;
    @media screen and (max-width: 480px){
      padding: 14px 0;
      align-items: start;
      flex: 0 0 230px; 
  max-width: 100vw;
     }
    &__wrap {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
    &__prices {
      display: flex;
      gap: 12px;
    }
    .name {
      align-items: start;
      text-align: left;
      font-weight: 500;
      font-family: "Exo 2", sans-serif;
      font-size: 16px;
    }

    .price {
      color: #aaa;
    }

    .change {
      &.positive {
        color: #00ff91;
      }

      &.negative {
        color: #ff4e4e;
      }
    }
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
